header{
    height: 15em;
    width: auto;
    padding-top: 1em;
    padding-left: 5em;

}

.under {
    width: 10em;
    position: absolute;

}

.over {
    position: absolute;
    width: 7em;
    padding-left: 2em;
    padding-top: 1em;
}

.logoPicture{
    margin-top: 2em;
}

.padLeft{
    padding-left: 30%;
}
main{
    margin: auto;
    padding-left: 20%;
}

.inputBox{
    margin-top: -4%;
    width: 60%;
    display: inline-block;
    padding: 1.5em;
    position: absolute;
    background-color: white;
    border-radius: 0.8em;
    border-bottom: 1em solid rebeccapurple;
    -moz-box-shadow: 0 0 5px grey;
    -webkit-box-shadow: 0 0 5px grey;
    box-shadow: 0 0 5px grey;
}

.nameInput{
    border: 1px solid grey;
    border-radius: 2em;
    background-color: #EFEFEF;

}

input{
    background-color: #EFEFEF;
    height: 2em;
    margin: 1em;
    position: relative;
    width: 70%;
    /*border 0;*/
}

.keyBoardIcon{
    padding-left: 0.5em;
    margin-top: 0.5em;
    width: 2em;
    padding-right: 1em;
    border-right: 20px black;
}

.loginButton{
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 2em;
    height: 2em;
}