.nameInput{
    border: 1px solid grey;
    border-radius: 2em;
    background-color: #EFEFEF;

}

input{
    background-color: #EFEFEF;
    height: 2em;
    margin: 1em;
    position: relative;
    width: 70%;
}

.keyBoardIcon{
    padding-left: 0.5em;
    margin-top: 0.5em;
    width: 2em;
    padding-right: 1em;
    border-right: 20px black;
}

.loginButton{
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 2em;
    height: 2em;
}

.inputTranslate{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2em;
    background-color: #FFC75F;
}