.inputBox{
    margin-top: -4%;
    width: 60%;
    display: inline-block;
    padding: 1.5em;
    position: absolute;
    background-color: white;
    border-radius: 0.8em;
    border-bottom: 1em solid rebeccapurple;
    -moz-box-shadow: 0 0 5px grey;
    -webkit-box-shadow: 0 0 5px grey;
    box-shadow: 0 0 5px grey;
}